body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
}

.buble {
  position: absolute;
  border-radius: 300px;
  background-color: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anime 8s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anime {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.55);
}
